.app-container {
    display: flex;
    justify-content: space-between;
}

#graph-canvas {
    display: block;
    margin-top: 20px;
    width: 640px;
    height: 480px;
    cursor: crosshair;
}

.fixed-listview {
    background: black;
    border: 1px solid white;
    width: 320px;
    height: 240px;
    overflow: auto;
}